/* textarea {
  margin: 1em;
} */

.notepad {
  background-color: #e8e3cc;
  border: 1px solid #B2B2B2;
  margin: 1em 0;
  padding: 0.5em;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  font-weight: bolder;
}
