.article-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.article-tile {
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 10px;
  padding: 10px;
  max-width: 400px;
}

.article-tile h4 {
  text-align: center;
}

.article-tile img {
  display: block;
  margin: 0 auto;
  width: 80%;
  min-width: 250px;
}

.article-tile:hover {
  background-color: #e8e3cc;
}
