/* Demo 1 */
.tab-wrapper-one {
  list-style-type: none;
  padding: 0;
}

.tab-wrapper-one li {
  border-style: solid;
  border-color: #00B5E4;
  background-color: white;
  padding: 20px 15px;
  border-width: 1px 2px;
  cursor: pointer;
}

.tab-wrapper-one li:first-child {
  border-top: 2px solid #00B5E4;
  border-radius: 15px 15px 0 0;
}

.tab-wrapper-one li:last-child {
  border-bottom: 2px solid #00B5E4;
  border-radius: 0 0 15px 15px;
}

.tab-wrapper-one li:hover {
  background-color: #1acdff;
  color: #e6f9ff;
}

/* Demo 2 */
.tab-wrapper-two {
  list-style-type: none;
  padding: 0;
}

.tab-wrapper-two li {
  border-style: solid;
  border-color: #00B5E4;
  background-color: white;
  padding: 20px 15px;
  border-width: 1px 2px;
  cursor: pointer;
}

.tab-wrapper-two li:first-child {
  border-top: 2px solid #00B5E4;
  border-radius: 15px 15px 0 0;
}

.tab-wrapper-two li:last-child {
  border-bottom: 2px solid #00B5E4;
  border-radius: 0 0 15px 15px;
}

.tab-wrapper-two li:not(.selected):hover {
  background-color: #1acdff;
  color: #e6f9ff;
}

.tab-wrapper-two .selected {
  background-color: #00B5E4;
  color: white;
  position: relative;
}

/* Demo 3 */
.tab-wrapper-three {
  list-style-type: none;
  padding: 0;
}

.tab-wrapper-three li {
  border-style: solid;
  border-color: #00B5E4;
  background-color: white;
  padding: 20px 15px;
  border-width: 1px 2px;
  cursor: pointer;
}

.tab-wrapper-three li:first-child {
  border-top: 2px solid #00B5E4;
  border-radius: 15px 15px 0 0;
}

.tab-wrapper-three li:last-child {
  border-bottom: 2px solid #00B5E4;
  border-radius: 0 0 15px 15px;
}

.tab-wrapper-three li:not(.selected):hover {
  background-color: #1acdff;
  color: #e6f9ff;
}

.tab-wrapper-three .selected {
  background-color: #00B5E4;
  color: white;
  position: relative;
}

@media screen and (min-width: 768px) {
  .tab-wrapper-three {
    display: flex;
  }

  .tab-wrapper-three li {
    flex: 1 1 150px;
    border-width: 2px 1px;
  }

  .tab-wrapper-three li:first-child {
    border-left: 2px solid #00B5E4;
    border-radius: 15px 0 0 15px;
  }

  .tab-wrapper-three li:last-child {
    border-right: 2px solid #00B5E4;
    border-radius: 0 15px 15px 0;
  }
}

/* Demo 4 */
.tab-wrapper-four {
  list-style-type: none;
  padding: 0;
}

.tab-wrapper-four li {
  border-style: solid;
  border-color: #00B5E4;
  background-color: white;
  padding: 20px 15px;
  border-width: 1px 2px;
  cursor: pointer;
}

.tab-wrapper-four li:first-child {
  border-top: 2px solid #00B5E4;
  border-radius: 15px 15px 0 0;
}

.tab-wrapper-four li:last-child {
  border-bottom: 2px solid #00B5E4;
  border-radius: 0 0 15px 15px;
}

.tab-wrapper-four li:not(.selected):hover {
  background-color: #1acdff;
  color: #e6f9ff;
}

.tab-wrapper-four .selected {
  background-color: #00B5E4;
  color: white;
  position: relative;
}

@media screen and (min-width: 768px) {
  .tab-wrapper-four {
    display: flex;
  }

  .tab-wrapper-four li {
    flex: 1 1 150px;
    border-width: 2px 1px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tab-wrapper-four li:first-child {
    border-left: 2px solid #00B5E4;
    border-radius: 15px 0 0 15px;
  }

  .tab-wrapper-four li:last-child {
    border-right: 2px solid #00B5E4;
    border-radius: 0 15px 15px 0;
  }
}

/* Demo 5 */
.tab-wrapper-five {
  list-style-type: none;
  padding: 0;
}

.tab-wrapper-five li {
  border-style: solid;
  border-color: #00B5E4;
  background-color: white;
  padding: 20px 15px;
  border-width: 1px 2px;
  cursor: pointer;
}

.tab-wrapper-five li:first-child {
  border-top: 2px solid #00B5E4;
  border-radius: 15px 15px 0 0;
}

.tab-wrapper-five li:last-child {
  border-bottom: 2px solid #00B5E4;
  border-radius: 0 0 15px 15px;
}

.tab-wrapper-five li:not(.selected):hover {
  background-color: #1acdff;
  color: #e6f9ff;
}

.tab-wrapper-five .selected {
  background-color: #00B5E4;
  color: white;
  position: relative;
}

@media screen and (min-width: 768px) {
  .tab-wrapper-five {
    display: flex;
  }

  .tab-wrapper-five li {
    flex: 1 1 150px;
    border-width: 2px 1px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tab-wrapper-five li:first-child {
    border-left: 2px solid #00B5E4;
    border-radius: 15px 0 0 15px;
  }

  .tab-wrapper-five li:last-child {
    border-right: 2px solid #00B5E4;
    border-radius: 0 15px 15px 0;
  }


  .tab-wrapper-five li.selected:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: #00B5E4 transparent transparent transparent;
  }
}
