/*
  Colour Scheme:
  #e8e3cc - grey with hint of yellow used for backgrounds
  #000628 - Off black used for most text
  #B2B2B2 - Grey used for borders
*/

/* Base styles */
/* html {
  font-size: 14px;
} */

body {
  background-color: #e8e3cc;
  color: #000628;
  font-family: sans-serif;
  margin: 0;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.4em;
}
h6 {
  font-size: 1.2em;
}

label {
  margin-left: 1.5em;
}

pre {
  background-color: #e8e3cc;
  border: 1px solid #B2B2B2;
  border-radius: 3px;
  font-size: 0.8em;
  overflow-x: scroll;
  padding: 1em;
}

input[type=text] ,input[type=number] {
  border: 2px solid #B2B2B2;
  border-radius: 3px;
  margin: 0.5em;
  outline: none;
  padding: 0.5em;
  width: 100%;
}
input[type=text]:focus {
    border: 2px solid #555;
}

textarea {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 3px;
  border: 2px solid #B2B2B2;
  outline: none;
}
textarea:focus {
    border: 2px solid #555;
}

button {
  border-radius: 5px;
  border: 2px solid darkgreen; /* Make these buttons nicer XXX */
  background-color: green;
  padding: 1em;
  cursor: pointer;
}
button:hover {
  background-color: darkgreen;
}
/* TODO Also define a colour change in the moment the button is pressed down */

code {
  background-color: #e8e3cc;
  border: 2px solid #727272;
  border-radius: 5px;
  display: block;
  font-family: monospace;
  margin: 20px 50px;
  max-height: 250px;
  overflow-y: scroll;
  white-space: pre-wrap;
}

/* Base Styles for small screens */
@media screen and (min-width: 321px) {
  html {
    font-size: 16px;
  }
}

/* Base Styles for medium screens */
@media screen and (min-width: 500px) {
  html {
    font-size: 18px;
  }
}

/* Base Styles for large screens */
@media screen and (min-width: 786px) {
  html {
    font-size: 20px;
  }
}

/* Nav styles (start) */
.hidden {
  display: none;
}

nav {
  background-color: white;
  border-bottom: 1px solid #B2B2B2;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a {
  color: #727272;
  display: block;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  color: black;
}

nav li.selected a {
  max-width: 80px;
  margin: 0 auto;
  border-bottom: 3px solid #D37C7C;
}

#nav-toggle {
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #B2B2B2 #B2B2B2 #B2B2B2 #B2B2B2;
  width: 24px;
  padding: 3px 3px 3px 3px;
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #F7F7F7;
  cursor: pointer;
}
#nav-toggle div {
  background-color: #727272;
  height: 3px;
  margin: 3px 0;
  width: 15px;
}

.social-bottom {
  /* margin: 0 auto; */
  margin-top: 0.3em;
  font-size: 2em;
  text-align: center;
}

/* Flex styles for larger screens */
@media screen and (min-width: 786px) {
  #nav-toggle {
    display: none;
  }

  nav {
    border-bottom: none;
    width: 80%;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
  }

  nav li {
    border-bottom: 3px solid #B2B2B2;
    flex: 0 1 80px;
  }

  nav li.selected {
    border-bottom: 3px solid #D37C7C;
  }

  nav li.selected a {
    border: none;
    max-width: none;
  }
}
/* Nav styles (end) */

/* Footer styles (start) */
footer p {
  text-align: center;
  font-size: 14px;

  /* margin: auto; */
}
/* Footer styles (end) */

/* Article (main section) styles (start) */
article {
  background-color: white;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (min-width: 786px) {
  article {
    padding: 3rem 2rem;
    width: 80%;
  }
}
/* Article (main section) styles (end) */

.article-date-stamp {
  color: #727272;
  font-size: 0.8rem;
}
