body {
  margin: 0;
  font-family: sans-serif;
  background-color: #EAEAEA;
}

/* Nav styles (start) */
.hidden {
  display: none;
}

nav {
  margin: 0 auto;
  border-bottom: 1px solid #B2B2B2;
  background-color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 8px 0;
  color: #727272;
}

nav li.selected a {
  max-width: 80px;
  margin: 0 auto;
  border-bottom: 3px solid #D37C7C;
}

#nav-toggle {
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #B2B2B2 #B2B2B2 #B2B2B2 #B2B2B2;
  width: 24px;
  padding: 3px 3px 3px 3px;
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #F7F7F7;
  cursor: pointer;
}
#nav-toggle div {
  background-color: #727272;
  height: 3px;
  margin: 3px 0;
  width: 15px;
}

/* Flex styles for larger screens */
@media screen and (min-width: 786px) {
  #nav-toggle {
    display: none;
  }

  nav {
    border-bottom: none;
    width: 80%;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
  }

  nav li {
    border-bottom: 3px solid #B2B2B2;
    flex: 0 1 80px;
  }

  nav li.selected {
    border-bottom: 3px solid #D37C7C;
  }

  nav li.selected a {
    border: none;
    max-width: none;
  }
}
/* Nav styles (end) */

/* Footer styles (start) */
footer p {
  text-align: center;
  font-size: 14px;

  /* margin: auto; */
}
/* Footer styles (end) */

/* Article (main section) styles (start) */
article {
  /* width: 100%; */
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  /* padding: 20px 10px; */
}

@media screen and (min-width: 786px) {
  article {
    width: 80%;
  }
}
/* Article (main section) styles (end) */
